@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    overflow-x: hidden;
}

.home-section h1 {
    font-size: 33px !important;
}

::placeholder {
    color: #fff !important;
}
 

.search-icon {
    background-color: #E9ECEF;
}

.home-section h1 {
    font-size: 55px !important;
}
.large-bed-pic{
    width: 90%;
}

.pilo{
    height: 710px !important;
}

.lamp img{
   height: 502px !important;
}